## VTOP SELENIUM AUTOMATOR
Using Selenium in Python to access the elements of the webpage to navigate the Vtop sign-up page, extracting and saving the captcha and filling login form using Selenium with further navigating the vtop portal, downloading the attendance and grade history

In [6]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup as bs
from datetime import datetime
import requests
import pandas as pd
    
import urllib3
import os

In [9]:
d = webdriver.Safari()
d.get('https://vtop.vitbhopal.ac.in/vtop/')

In [10]:
d.execute_script("openPage();")

In [11]:

user = d.find_element_by_xpath('//*[@id="uname"]')
passw = d.find_element_by_xpath('//*[@id="passwd"]')

captcha_form = d.find_element_by_xpath('//*[@id="captchaCheck"]')

user.send_keys(username)
passw.send_keys(password)

/var/folders/6v/3xlgk1vx0c1dtyc0knkbytp40000gn/T/ipykernel_2870/209622267.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  user = d.find_element_by_xpath('//*[@id="uname"]')
/var/folders/6v/3xlgk1vx0c1dtyc0knkbytp40000gn/T/ipykernel_2870/209622267.py:2: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  passw = d.find_element_by_xpath('//*[@id="passwd"]')
/var/folders/6v/3xlgk1vx0c1dtyc0knkbytp40000gn/T/ipykernel_2870/209622267.py:4: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  captcha_form = d.find_element_by_xpath('//*[@id="captchaCheck"]')

In [12]:

time = datetime.now().time()
time = str(time)[:8]
filepath = "captcha/captcha_{}.png".format(time)

with open(filepath , 'wb') as file:
    img = d.find_element_by_xpath('//*[@id="captchaRefresh"]/div/img')
    file.write(img.screenshot_as_png)

/var/folders/6v/3xlgk1vx0c1dtyc0knkbytp40000gn/T/ipykernel_2870/3473774292.py:6: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  img = d.find_element_by_xpath('//*[@id="captchaRefresh"]/div/img')

In [13]:
cmd = "open {}".format(filepath)
os.system(cmd)

0

In [14]:
cap = input("enteer captcha").upper()
captcha_form.send_keys(cap)
captcha_form.send_keys('\n')

In [14]:
d.execute_script("onSubmit();")

# attendance

In [15]:
d.execute_script("loadmydiv('academics/common/StudentAttendance');")

In [16]:

#//*[@id="semesterSubId"]
att = Select(d.find_element_by_xpath('//*[@id="semesterSubId"]'))
att.select_by_visible_text('Winter Inter Semester - II 2021-22 - BPL')

/var/folders/6v/3xlgk1vx0c1dtyc0knkbytp40000gn/T/ipykernel_2870/3584805392.py:2: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  att = Select(d.find_element_by_xpath('//*[@id="semesterSubId"]'))

In [17]:
d.execute_script("processStudentAttendance();")

In [18]:
import pandas as pd
tab = d.find_element_by_xpath('//*[@id="getStudentDetails"]/div/table').get_attribute('outerHTML')
tab2 =  pd.read_html(tab)

/var/folders/6v/3xlgk1vx0c1dtyc0knkbytp40000gn/T/ipykernel_2870/700316719.py:2: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  tab = d.find_element_by_xpath('//*[@id="getStudentDetails"]/div/table').get_attribute('outerHTML')

In [19]:
tabT = tab2[0]

In [20]:
tabT = tabT.T

In [21]:
tabT

,0,1,2,3
Sl.No,1,2,3,Total Number Of Credits: 11
Course Code,CSE3001,CSE3011,MAT3003,Total Number Of Credits: 11
Course Title,Database Management Systems,Python Programming,"Probability, Statistics And Reliability",Total Number Of Credits: 11
Course Type,"Lecture and Tutorial ,practical hours only",Lecture and Practical Hours Only,Lecture and Tutorial Hours Only,Total Number Of Credits: 11
Slot,B11+B12+B13+E11+E12+E13,A11+A12+A13+D11+D12,C11+C12+C13+C23+F11+F12,Total Number Of Credits: 11
Faculty Name,100070 BASEERA A SCSE,100118 ANAND MOTWANI SCSE,100147 JYOTI BADGE SASL,Total Number Of Credits: 11
Attendance Type,Manual,Manual,Manual,Total Number Of Credits: 11
Registration Date / Time,01-Mar-2022 20:32,01-Mar-2022 20:33,01-Mar-2022 20:31,Total Number Of Credits: 11
Attendance Date,02-Mar-2022,02-Mar-2022,02-Mar-2022,Total Number Of Credits: 11
Attended Classes,31,23,29,Total Number Of Credits: 11
Total Classes,31,23,29,Total Number Of Credits: 11
Attendance Percentage,100,100,100,Total Number Of Credits: 11
Status,-,-,-,Total Number Of Credits: 11
Attendance View,View,View,View,Total Number Of Credits: 11
Unnamed: 14,NaN,NaN,NaN,Total Number Of Credits: 11

'//*[@id="getStudentDetails"]/div/table

---

In [22]:
d.execute_script("loadmydiv('examinations/examGradeView/StudentGradeHistory');")
# <a href="javascript:loadmydiv('examinations/examGradeView/StudentGradeHistory')" id="EXM0023">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-dot-circle-o" style="padding-right:2px;"></i>&nbsp;&nbsp; Grade History</a>

In [23]:
tab = d.find_element_by_xpath('//*[@id="fixedTableContainer"]/table').get_attribute('outerHTML')
tab2 =  pd.read_html(tab)

/var/folders/6v/3xlgk1vx0c1dtyc0knkbytp40000gn/T/ipykernel_2870/3450517190.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  tab = d.find_element_by_xpath('//*[@id="fixedTableContainer"]/table').get_attribute('outerHTML')

In [24]:
tabT = tab2[0]
tabT = tabT.T

In [25]:
tabT

                      0                                           1
0               Reg.No.                                  20BCE10423
1                  Name                          PRAKHAR RAJ PANDEY
2  Programme and Branch  B.Tech. - Computer Science and Engineering
3        Programme Mode                                     Regular
4          Study System                                         CAL
5                Gender                                        MALE
6            YearJoined                                        2020
7            Edu Status                                    Admitted
8                School                                        SCSE
9                Campus                                         BPL

In [32]:
d.execute_script("vtopDownload('examinations/examGradeView/doDownloadStudentHistory')")

# time table

In [30]:
d.execute_script("javascript:loadmydiv('academics/common/StudentTimeTable')")

In [32]:
att = Select(d.find_element_by_xpath('//*[@id="semesterSubId"]'))
att.select_by_visible_text('Winter Inter Semester - II 2021-22')
# d.execute()

/var/folders/6v/3xlgk1vx0c1dtyc0knkbytp40000gn/T/ipykernel_8555/2837297698.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  att = Select(d.find_element_by_xpath('//*[@id="semesterSubId"]'))

In [38]:
d.execute_script('processViewTimeTable();')

In [35]:
btn = d.find_element_by_xpath('//*[@id="studentTimeTable"]/div[2]/div/button')
btn.click()

/var/folders/6v/3xlgk1vx0c1dtyc0knkbytp40000gn/T/ipykernel_8555/417265819.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  btn = d.find_element_by_xpath('//*[@id="studentTimeTable"]/div[2]/div/button')

In [ ]:
//*[@id="getStudentDetails"]/div/table

In [39]:
tab = d.find_element_by_xpath('//*[@id="getStudentDetails"]/div/table').get_attribute('outerHTML')
tab2 =  pd.read_html(tab)

/var/folders/6v/3xlgk1vx0c1dtyc0knkbytp40000gn/T/ipykernel_8555/2874848368.py:1: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  tab = d.find_element_by_xpath('//*[@id="getStudentDetails"]/div/table').get_attribute('outerHTML')

In [40]:
tabT = tab2[0]
tabT = tabT.T

In [41]:
tabT

,0,1,2,3,4,5,6
0,NaN,Sl.No,1,2,3,Total Number Of Credits: 11,NaN
1,NaN,Class Group,General,General,General,Total Number Of Credits: 11,NaN
2,NaN,Course,CSE3001 - Database Management Systems - Lectur...,CSE3011 - Python Programming - Lecture and Pra...,"MAT3003 - Probability, Statistics And Reliabil...",Total Number Of Credits: 11,NaN
3,NaN,L T P J C,0 0 0 0 4,0 0 0 0 3,0 0 0 0 4,Total Number Of Credits: 11,NaN
4,NaN,Course Option,Regular,Regular,Regular,Total Number Of Credits: 11,NaN
5,NaN,Class Nbr,BL20212211000068,BL20212211000080,BL20212211000030,Total Number Of Credits: 11,NaN
6,NaN,Attendance Type,Manual,Manual,Manual,Total Number Of Credits: 11,NaN
7,NaN,Slot,B11+B12+B13+E11+E12+E13,A11+A12+A13+D11+D12,C11+C12+C13+C23+F11+F12,Total Number Of Credits: 11,NaN
8,NaN,Venue,AB402,AB306,AB105,Total Number Of Credits: 11,NaN
9,NaN,Faculty Name,BASEERA A - SCSE,ANAND MOTWANI - SCSE,JYOTI BADGE - SASL,Total Number Of Credits: 11,NaN
10,NaN,Registered / Updated Date & Time Name,01-Mar-2022 20:32,01-Mar-2022 20:33,01-Mar-2022 20:31,Total Number Of Credits: 11,NaN
11,NaN,Attendance Date,02-Mar-2022,02-Mar-2022,02-Mar-2022,Total Number Of Credits: 11,NaN
12,NaN,Status,Registered and Approved,Registered and Approved,Registered and Approved,Total Number Of Credits: 11,NaN
13,NaN,Ref.No,0,0,0,Total Number Of Credits: 11,NaN
14,NaN,NaN,NaN,NaN,NaN,Total Number Of Credits: 11,NaN
15,NaN,NaN,NaN,NaN,NaN,Total Number Of Credits: 11,NaN

In [24]:
# d.execute_script("javascript:loadmydiv('academics/common/StudentTimeTable')")
tab = d.find_element_by_xpath('//*[@id="timeTableStyle"]').get_attribute('outerHTML')
tab2 =  pd.read_html(tab)

/var/folders/6v/3xlgk1vx0c1dtyc0knkbytp40000gn/T/ipykernel_8555/10318886.py:2: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  tab = d.find_element_by_xpath('//*[@id="timeTableStyle"]').get_attribute('outerHTML')

InvalidSessionIdException: Message:

## CLOSE DRIVER

In [8]:
d.close()